@import "tailwindcss";

@keyframes moveArrow {
  0%, 100% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(5px);
  }
}

@keyframes liveBlink {
    0% {
        opacity: 1;
        transform: scale(1);
        box-shadow: 0 0 0px #33D17A;
    }

    50% {
        opacity: 0.4;
        transform: scale(1.3);
        box-shadow: 0 0 10px #33D17A;
    }

    100% {
        opacity: 1;
        transform: scale(1);
        box-shadow: 0 0 0px #33D17A;
    }
}

.animate-live {
    animation: liveBlink 1.2s ease-in-out infinite;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    appearance: textfield;
}


html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

.reveal {

    opacity: 0;
    transform: translateY(80px);
    transition: all 1s ease;

}



.reveal.active {

    opacity: 1;
    transform: translateY(0);

}

.reveal-left {

    opacity: 0;
    transform: translateX(-100px);
    transition: all 1s ease;

}

.reveal-left.active {

    opacity: 1;
    transform: translateX(0);

}

.reveal-right {

    opacity: 0;
    transform: translateX(100px);
    transition: all 1s ease;

}

.reveal-right.active {

    opacity: 1;
    transform: translateX(0);

}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    scrollbar-width: none;
    -ms-overflow-style: none;
}